# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [4]:
import numpy as np
import pandas as pd
import os
import re

In [5]:
os.chdir(r'/Users/sg/Documents/GitHub/806_Repo/Labs/module_2/Advanced-Pandas/your-code')

In [6]:
data=pd.read_csv('Admission_Predict.csv', encoding='latin1')
data

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90
5,6,321,109,3,3.0,4.0,8.20,1,0.75
6,7,308,101,2,3.0,4.0,7.90,0,0.68
7,8,302,102,1,2.0,1.5,8.00,0,0.50
8,9,323,108,3,3.5,3.0,8.60,0,0.45
9,10,327,111,4,4.0,4.5,9.00,1,0.84
10,11,328,112,4,4.0,4.5,9.10,1,0.78
11,12,307,109,3,4.0,3.0,8.00,1,0.62
12,13,311,104,3,3.5,2.0,8.20,1,0.61
13,14,314,105,3,3.5,2.5,8.30,0,0.54
14,15,317,107,3,4.0,3.0,8.70,0,0.66
15,16,319,106,3,4.0,3.0,8.00,1,0.65
16,17,318,110,3,4.0,3.0,8.80,0,0.63
17,18,303,102,3,3.5,3.0,8.50,0,0.62
18,19,325,114,4,3.0,2.0,8.40,0,0.70
19,20,328,116,5,5.0,5.0,9.50,1,0.94
20,21,334,119,5,5.0,4.5,9.70,1,0.95
21,22,336,119,5,4.0,3.5,9.80,1,0.97
22,23,322,109,5,4.5,3.5,8.80,0,0.76
23,24,298,98,2,1.5,2.5,7.50,1,0.44
24,25,295,93,1,2.0,2.0,7.20,0,0.46
25,26,310,99,2,1.5,2.0,7.30,0,0.54
26,27,300,97,2,3.0,3.0,8.10,1,0.65
27,28,327,103,3,4.0,4.0,8.30,1,0.74
28,29,338,118,4,3.0,4.5,9.40,1,0.91
29,30,340,114,5,4.0,4.0,9.60,1,0.90
...,...,...,...,...,...,...,...,...,...
355,356,310,103,2,2.5,2.5,8.24,0,0.72
356,357,324,110,3,3.5,3.0,9.22,1,0.89
357,358,336,119,4,4.5,4.0,9.62,1,0.95
358,359,321,109,3,3.0,3.0,8.54,1,0.79
359,360,315,105,2,2.0,2.5,7.65,0,0.39
360,361,304,101,2,2.0,2.5,7.66,0,0.38
361,362,297,96,2,2.5,2.0,7.43,0,0.34
362,363,290,100,1,1.5,2.0,7.56,0,0.47
363,364,303,98,1,2.0,2.5,7.65,0,0.56
364,365,311,99,1,2.5,3.0,8.43,1,0.71
365,366,322,104,3,3.5,4.0,8.84,1,0.78
366,367,319,105,3,3.0,3.5,8.67,1,0.73
367,368,324,110,4,4.5,4.0,9.15,1,0.82
368,369,300,100,3,3.0,3.5,8.26,0,0.62
369,370,340,113,4,5.0,5.0,9.74,1,0.96
370,371,335,117,5,5.0,5.0,9.82,1,0.96
371,372,302,101,2,2.5,3.5,7.96,0,0.46
372,373,307,105,2,2.0,3.5,8.10,0,0.53
373,374,296,97,2,1.5,2.0,7.80,0,0.49
374,375,320,108,3,3.5,4.0,8.44,1,0.76
375,376,314,102,2,2.0,2.5,8.24,0,0.64
376,377,318,106,3,2.0,3.0,8.65,0,0.71
377,378,326,112,4,4.0,3.5,9.12,1,0.84
378,379,317,104,2,3.0,3.0,8.76,0,0.77
379,380,329,111,4,4.5,4.0,9.23,1,0.89
380,381,324,110,3,3.5,3.5,9.04,1,0.82
381,382,325,107,3,3.0,3.5,9.11,1,0.84
382,383,330,116,4,5.0,4.5,9.45,1,0.91
383,384,312,103,3,3.5,4.0,8.78,0,0.67
384,385,333,117,4,5.0,4.0,9.66,1,0.95

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [ ]:

db=admissions predict
table=admissions predict


df2=pd.DataFrame()


=pd.DataFrame ,columns=['','']

Remove trailing spaces at the end of the column names if there are any.

In [ ]:
# your code here

Let's evaluate the dataset by looking at the `head` function.

In [7]:
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [8]:
data.isna()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False,False
19,False,False,False,False,False,False,False,False,False
20,False,False,False,False,False,False,False,False,False
21,False,False,False,False,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False
23,False,False,False,False,False,False,False,False,False
24,False,False,False,False,False,False,False,False,False
25,False,False,False,False,False,False,False,False,False
26,False,False,False,False,False,False,False,False,False
27,False,False,False,False,False,False,False,False,False
28,False,False,False,False,False,False,False,False,False
29,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
355,False,False,False,False,False,False,False,False,False
356,False,False,False,False,False,False,False,False,False
357,False,False,False,False,False,False,False,False,False
358,False,False,False,False,False,False,False,False,False
359,False,False,False,False,False,False,False,False,False
360,False,False,False,False,False,False,False,False,False
361,False,False,False,False,False,False,False,False,False
362,False,False,False,False,False,False,False,False,False
363,False,False,False,False,False,False,False,False,False
364,False,False,False,False,False,False,False,False,False
365,False,False,False,False,False,False,False,False,False
366,False,False,False,False,False,False,False,False,False
367,False,False,False,False,False,False,False,False,False
368,False,False,False,False,False,False,False,False,False
369,False,False,False,False,False,False,False,False,False
370,False,False,False,False,False,False,False,False,False
371,False,False,False,False,False,False,False,False,False
372,False,False,False,False,False,False,False,False,False
373,False,False,False,False,False,False,False,False,False
374,False,False,False,False,False,False,False,False,False
375,False,False,False,False,False,False,False,False,False
376,False,False,False,False,False,False,False,False,False
377,False,False,False,False,False,False,False,False,False
378,False,False,False,False,False,False,False,False,False
379,False,False,False,False,False,False,False,False,False
380,False,False,False,False,False,False,False,False,False
381,False,False,False,False,False,False,False,False,False
382,False,False,False,False,False,False,False,False,False
383,False,False,False,False,False,False,False,False,False
384,False,False,False,False,False,False,False,False,False

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [10]:
data.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [ ]:
'GRE Score'+'CGPA'

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [ ]:
# your code here

In [ ]:
#to find a way to summarize 
#you give an unique 
#2 colomns in one row

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [ ]:
# your code here

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [ ]:
# your code here

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [ ]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    # your code here

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [ ]:
####standardized

We will generate the decision choice at random using the code below. Please run the cell.

In [ ]:
# Libraries
from random import choices

In [ ]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=admissions.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [ ]:
# your code here

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [ ]:
lookup=(decisions.)

'deciding_column' > 0.8
else 'deciding_column'=0

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [ ]:
# your code here

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [ ]:
# your code here

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [ ]:
# your code here

In [11]:
df1=pd.DataFrame(np.random.random((10,4)),columns=list('abcd'))

In [12]:
df1

          a         b         c         d
0  0.534680  0.998161  0.513466  0.067655
1  0.661953  0.628578  0.857058  0.807181
2  0.167754  0.660595  0.426869  0.204681
3  0.308208  0.070994  0.771995  0.779341
4  0.998908  0.799515  0.212704  0.719057
5  0.674207  0.430678  0.246278  0.635166
6  0.754189  0.065019  0.208047  0.853069
7  0.790338  0.822355  0.565343  0.482041
8  0.815687  0.935082  0.818655  0.849118
9  0.405644  0.247409  0.842941  0.775958

In [13]:
df1.where(df1.b>0.5)

          a         b         c         d
0  0.534680  0.998161  0.513466  0.067655
1  0.661953  0.628578  0.857058  0.807181
2  0.167754  0.660595  0.426869  0.204681
3       NaN       NaN       NaN       NaN
4  0.998908  0.799515  0.212704  0.719057
5       NaN       NaN       NaN       NaN
6       NaN       NaN       NaN       NaN
7  0.790338  0.822355  0.565343  0.482041
8  0.815687  0.935082  0.818655  0.849118
9       NaN       NaN       NaN       NaN